.meta {
	margin: 0 0 1em;
	border-bottom: 1px solid #e1e1e1;
	&__description {
		font-size: 1.1rem;
	}

	&__version {
		margin: 1rem 0 0;
		font-style: italic;
	}
}

.list-page-toc__author { font-size: .7rem;}