<ul>
	{% for nav in navs.primary %}
	{% set is_current = (nav_path == nav.path) %}
	<li {{ "class='current'" if is_current }}>
		{% if nav.file %}
				<a href="{{nav_path|relativePath(nav.path)}}">{{nav.file.title}}</a>
		{% else %}
				{{nav.name}}
		{% endif %}
		
		{% if nav.children|length %}
			<ul>
					{% for child in nav.children %}
					{% set is_current = (nav_path == child.path) %}
					<li {{ "class='current'" if is_current }}>
						{% if child.file %}
							<a href="{{nav_path|relativePath(child.path)}}">{{child.file.title}}</a>
						{% else %}
							{{child.name}}
						{% endif %}
						</li>
					{% endfor %}
			</ul>
			{% endif %}
			</li>
	{% endfor %}
</ul>