html {
  font-size: 13px;
}

body { font-family: 'Roboto', sans-serif; font-weight: 300; color: #354a57; }
a    { text-decoration: none; }

//Headings

h1 { border-top: 2px solid #354a57; }

.site-title { font-family: 'Bangers', cursive; font-size: 30px; color: #fff; }