html {
  font-size: 13px;
}


body { font-family: "PT Sans", sans-serif;  color: #354a57; }
a    { text-decoration: none; color: #445E6E; border-bottom: 1px dotted #445E6E;  }
a:hover { border: none;}

//Headings

h1 {
	margin: 10px 0;
	font-size: 35px;
	border-top: 4px solid #354a57;
}

h2 {
	margin: 10px 0;
	font-size: 20px;
	border-top: 2px solid #354a57;
}

main { /* text-shadow: 0px 1px 0px white; */}

.site-title   { margin: 10px 20px 0 15px; font-family: 'Bangers', cursive; font-size: 30px; color: #fff; }
.site-title a { color: #fff; border: none; }