.page {
	font-family: Roboto, sans-serif;
  font-size: 15px;
  color: #666;
  line-height: 1.4;
}




a       { text-decoration: none; color: #445E6E; border-bottom: 1px dotted #445E6E;  }
a:hover { border: none; color: #a1b56c; }


h1 {
	margin: 0 0 20px;
	font-size: 2.5rem;
	line-height: 1;
	font-weight: 400;
	color: #000;
}

h2 {
	margin: 0 0 20px;
	font-size: 20px;
	font-weight: 400;
	color: #000;
}

pre { margin: 30px 0; border-top: 1px solid #999; font-family: 'Cousine'; }
code { padding: 15px !important; font-family: 'Cousine'; font-size: 12px;  }

.btn {
	display: inline-block;
	margin: 2em 0;
	padding: .75em;
	font-size: .9rem;
	text-transform: uppercase;
	border: 0;
	border-radius: .3em;
	transition: color .4s, background-color .4s, border .4s;
	cursor: pointer;

	&:hover {
		color: #fff;
		background-color: #000;
		transition: background-color .3s, color .3s, border .3s;
	}

  &--primary{
		background: #a1b56c;
  	color: #fff;
  }
}