
.footer {
	margin: 0 auto;
	padding: 1.5rem;
	width: 100%;
	max-width: 70rem;
	font-size: .8rem;
	text-align: center;
	color: #999;
	border-top: 1px solid #e1e1e1;

	a { color: #b3b3b3; }
}