<html>
	<head>
		<title>{{title}} | {{siteTitle}}</title>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/zenburn.min.css">
		<link rel="stylesheet" type="text/css" href="{{nav_path|relativePath('css/main.css')}}">
	</head>
	<body>

		<aside id="primary-sidebar">
			<div class="site-title"><a href="/">{{siteTitle}}</a></div>
			<nav id="main-nav">
				{% include "partials/nav.html" %}
			</nav>
		</aside>

		<section id="main-content">
			<main>
				{% block content %}
					<p>{{siteDescription}}</p>
				{% endblock %}
			</main>

			<footer>
				{% include "partials/footer.html" %}
			</footer>
		</section>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>