{% extends "base.html" %}

{% block content %}
	<h1>{{title}}</h1>
	{{contents}}
	<p>
		{% for nav in navs.list_page %}
			{% set is_current = (nav_path == nav.path) %}

			{% if is_current %}
				<ul class="list-page-toc">
				{% for child in nav.children %}
					<li>
						<a href="{{nav_path|relativePath(child.path)}}">{{child.file.title}}</a>
						{% if child.file.author %} <span class="list-page-toc__author">By {{child.file.author}}</span>{% endif %}
						{% if child.file.excerpt %} <div class="list-page-toc__excerpt">{{child.file.excerpt}}</div>{% endif %}
					</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endfor %}
	</p>
{% endblock %}